
body{
font-size: large;
background-color: #111;
color: #CCC;
font-family: 'Source Code Pro', monospace;
}

.container{
padding-top: 50px;
}

#target{
background-color: #111;
color: #CCC;
border: 0;
font-size: medium;
font-family: 'Source Code Pro', monospace;
}

textarea:focus, input:focus{
outline: none;
}

#history {
padding: 0;
list-style-type: none;
max-height: 300px;
overflow: auto;
overflow-x: hidden;
overflow-y: hidden;
}

.pagebreak{
height: 500px;
}

.narrator {
color: #E8C5D3;
}
