
body{
font-size: large;
background-color: #111;
color: #CCC;
font-family: 'Source Code Pro', monospace;
}

.container{
padding-top: 50px;
}

#target{
background-color: #111;
color: #CCC;
border: 0;
font-size: medium;
font-family: 'Source Code Pro', monospace;
}

textarea:focus, input:focus{
outline: none;
}

#history {
padding: 0;
list-style-type: none;
max-height: 600px;
overflow: auto;
overflow-x: hidden;
overflow-y: hidden;
}

#history .clickable{
cursor: pointer;
padding: 10px;
margin: 10px;
border: 1px dashed #BBB; 
}

#history .clickable:hover{
background-color: #555;
}

#history .clickable i{
margin-right: 10px;
}

.pagebreak{
height: 500px;
}

.player{
color: #E8C5D3;
margin: 10px;
}

.narrator {
}

.choices{
font-family: 'Source Code Pro', monospace;
}
